{
  "plugins": [
    "check-es2015-constants",
    "external-helpers",
    "transform-es2015-arrow-functions",
    "transform-es2015-block-scoped-functions",
    "transform-es2015-block-scoping",
    "transform-es2015-classes",
    "transform-es2015-computed-properties",
    "transform-es2015-destructuring",
    "transform-es2015-duplicate-keys",
    "transform-es2015-for-of",
    "transform-es2015-function-name",
    "transform-es2015-literals",
    "transform-es2015-modules-commonjs",
    "transform-es2015-object-super",
    "transform-es2015-parameters",
    "transform-es2015-shorthand-properties",
    "transform-es2015-spread",
    "transform-es2015-sticky-regex",
    "transform-es2015-template-literals",
    "transform-es2015-typeof-symbol",
    "transform-es2015-unicode-regex",
    "transform-function-bind",
    "transform-object-rest-spread",
    ["transform-async-to-module-method", {"module": "bluebird", "method": "coroutine"}],
    ["transform-runtime", {"polyfill": false, "regenerator": false}]
  ],
  "env": {
    "test_coverage": {
      "plugins": [
        ["istanbul", {"exclude": ["test/*.js", "**/*_spec.js"]}]
      ]
    },
    "browser": {
      "only": [
        "src",
        "example",
        "node_modules/figures",
        "node_modules/indent-string"
      ],
      "plugins": [
        "transform-regenerator",
        ["transform-runtime", {"polyfill": false, "regenerator": true}]
      ]
    }
  },
  "sourceMaps": "inline"
}
