{
  "sourceMap": true,
  "instrument": true,
  "extension": [".ts"],
  "exclude": [
    "**/*_spec.ts",
    "compatibility/**/*.ts",
    "cucumber.js",
    "features/**/*.ts",
    "test/**/*.ts",
    "tmp/**/*.js"
  ]
}
