cache:
  directories:
    - $HOME/node_modules

language: node_js

notifications:
  email: false

matrix:
  include:
    - node_js: "14"
      script: "yarn test-coverage && yarn audit"
      after_success: "nyc report --reporter=text-lcov | coveralls"
    - node_js: "12"
      script: "yarn test"
    - node_js: "10"
      script: "yarn test"

sudo: false
